<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>17261055084-juv8bvo3fpue2oegavp28aigqqgol11a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17261055084-juv8bvo3fpue2oegavp28aigqqgol11a</string>
	<key>API_KEY</key>
	<string>AIzaSyBhvL6kJVsX5s3MP7wGENvThe_DSasTHHc</string>
	<key>GCM_SENDER_ID</key>
	<string>17261055084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2AMAppLabs.Social</string>
	<key>PROJECT_ID</key>
	<string>social-7089b</string>
	<key>STORAGE_BUCKET</key>
	<string>social-7089b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:17261055084:ios:84ebecb607702905</string>
	<key>DATABASE_URL</key>
	<string>https://social-7089b.firebaseio.com</string>
</dict>
</plist>